<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/theme.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=yes"/>
    <title>Partimana - {{ page.title }}</title>

    {% include google_analytics.html %}
</head>

<body>
<header>
    <h1>Parti<strong>mana</strong></h1>

    <h2>{{ page.title }}</h2>
</header>
<main>
    <div id="nav">
        <a href="index.html">index</a>
        <a href="downloads.html">downloads</a>
    </div>
    <div>
        {{ content }}
        <!--        <div style="margin-top: 50px;margin-left: auto;margin-right: auto;text-align: center">
                    it follows an ad<br/>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- partimana - github.io -->
        <!--            <ins class="adsbygoogle"
                         style="display:inline-block;width:336px;height:280px"
                         data-ad-client="ca-pub-6867036041575568"
                         data-ad-slot="6717329482"></ins>
                    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});


                    </script>
                </div>-->
    </div>
</main>
</body>
</html>
